.maplocation{
	position:absolute;
	top:150px;
	left:270px;
	
	}
.peoplelocation
			{
			position:absolute;
			left:0px;
			top:150px;
			width:270px;
		}
.title{
	position:absolute;
	top:50px;
	left:600px;
	}
.details{
	position:absolute;
	left:270px;
	top:650px;
}

.details > * {
	margin-right: 4em;
	display:inline-block;
}
.logo{
	background-image: url("downloads/omniplace.png");
	background-repeat:no-repeat;
	background-position:center center;
	width: 270;
	height: 105;
	float: left;
}
.backcolor{
	background-color:#161616;
	color:#c0c0c0;
}
.textcolor{
	color:#c0c0c0;
}
.twobut{
	float:left;
	height:100%;
	background-color:green;
}
