.maplocation{
	position:absolute;
	top:150px;
	left:270px;
	
	}
.peoplelocation
			{
			position:absolute;
			left:0px;
			top:150px;
			width:20%;
		}
.title{
	position:absolute;
	top:50px;
	left:600px;
	}
.details{
	position:absolute;
	left:270px;
	top:650px;
}

.details > * {
	margin-right: 4em;
	display:inline-block;
}
.logo{
	background-image: url("../resources/finallogo.png");
	background-repeat:no-repeat;
	background-position:center center;
	width: 250px;
	height: 125px;
	background-size:100% 100%;
	float: left;
}
.backcolor{
	background-color:#161616;
	color:#c0c0c0;
}
.textcolor{
	color:#c0c0c0;
}
.twobut1{
	position:absolute;
	right:40%;
	height:100%;
	width:40%;
	background-color:green;
}
.twobut2{
	position:absolute;
	right:0px;
	height:100%;
	width:40%;
	background-color:red;
}
#homepeople{
	position:absolute;
			left:0px;
			top:150px;
	width:20%;
}
.links > a{
	display:inline-block;
	margin:60px 30px;
	width:30%;
	background-color:#000000;
}
.links{
	text-align:center;
}
.links > a > img{
	width:100%;
	margin-bottom:8px;
	height:144px;
}
.links > a > p{
	height:4em;
}

/* dumb */






